$grey: rgb(222, 224, 214);
$darkGrey: rgb(190, 203, 201);
$blue: rgb(137, 160, 174);
$darkBlue: rgb(81, 103, 131);
$pink: rgb(248, 0 , 134);
$cyan: rgb(0, 255, 255);

$font-size: 20px;

$top-menu-height: 100px;
