@import "src/games/dixit/sass/variables";

$spacing-between-items: 23px;
$top-menu-item-height: 77px;

.top-menu-container {
  position: fixed;
  width: calc(100% - 30px);
  height: $top-menu-height;
  font-size: $font-size;
  z-index: 9999;

  .top-menu-item {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    height: $top-menu-item-height;
    line-height: $top-menu-item-height;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: $spacing-between-items;
    font-weight: bold;
  }

  .player-name {
    background-color: $grey;
  }

  .player-info {
    background-color: $darkBlue;
    color: white;
  }

}
