@import "src/games/dixit/sass/variables";

.table-container {
  width: 100%;

  .acknowledge-button {
    font-size: $font-size;
    background-color: $pink;
    border-radius:4px;
    cursor:pointer;
    color: white;
    text-shadow:0px 1px 0px #b23e35;
    display: block;
    margin: 10px auto;
    border: $cyan 2px solid;
  }

  .cards-container {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;

    img {
      width: 100%;
      border-radius: 10px;
    }

    .table-card {
      position: relative;

      .card-owner {
        color: white;
        text-align: center;
      }

      .players-voted-on-card {
        position: absolute;
        color: white;
        left: 30px;
        top: 100px;
        //background-color: rgba(0, 0, 0, 0.65);
        font-size: 1.5 * $font-size;
        border-radius: 5px;
        padding: 5px;
        z-index: 11;
        //-webkit-text-stroke: 1px black;
        //-webkit-text-fill-color: white;
      }
    }

    .master {
      border: 5px solid $cyan;
      border-radius: 10px;
      //opacity: 0.5;
    }

    .overlay {
      position: absolute; /* Sit on top of the page content */
      //display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }
  }
}
